workflows/wjzWLYeTtY4sNBO5_ARH_ocr_copy.json
{
  "updatedAt": "2026-04-10T15:29:12.262Z",
  "createdAt": "2026-03-25T15:30:39.066Z",
  "id": "wjzWLYeTtY4sNBO5",
  "name": "ARH_ocr copy",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3db1a7ef-2ba8-4f81-beaf-030cea1f9376",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3472,
        144
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Rol: Analista Documental Experto en Peritaje Bancario y Legal.\n\nInstrucción: Procesa el documento adjunto realizando tres tareas críticas en el orden especificado.\n\n1. CLASIFICACIÓN:\nIdentifica el tipo de documento. Las categorías posibles son: [Estado de Cuenta / Declaración Jurada / Denuncia Policial / Cédula de Identidad / Registro de Caso CRM - Banco Santander/Certificado de Institución Bancaria].\n\n2. TRANSCRIPCIÓN ÍNTEGRA:\nGenera una transcripción literal (verbatim) de todo el texto contenido en el documento. No omitas firmas, sellos, pies de página ni números correlativos.\n\n3. INDEXACIÓN DE INFORMACIÓN:\nExtrae y organiza los siguientes datos en un formato estructurado:\n- Emisor: (ej: Banco Santander, Carabineros de Chile, PDI).\n- Titular/Sujeto: Nombre completo y RUT si están presentes.\n- Fecha del documento: Fecha de emisión o firma.\n- Datos Clave: (Si es estado de cuenta: montos y comercios; si es denuncia: número de parte; si es declaración: número de requerimiento).\n\nSALIDA ESPERADA (JSON):\nEntrega exclusivamente un objeto JSON con esta estructura:\n{\n  \"clasificacion\": \"tipo_de_documento\",\n  \"transcripcion_completa\": \"texto_aqui...\",\n  }\n}\n",
        "documentUrls": "={{ $json.url_base_datos }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -3024,
        -720
      ],
      "id": "29b66c81-23c0-4efb-9949-afe0bb5ab9ed",
      "name": "Analyze document",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Xg5bF0RBn1SCoQ4M",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Rol: Perito Judicial y Transcriptor Experto en Fraudes Bancarios.\n\nInstrucción: Realiza una transcripción íntegra (palabra por palabra) del audio de la llamada adjunta. Una vez finalizada la transcripción, realiza el análisis técnico del incidente.\n\nDebes responder exclusivamente un objeto JSON con la siguiente estructura:\n{\n  \"transcripcion_completa\": \"Aquí inserta la transcripción literal de toda la llamada...\",\n  \"relato_paso_a_paso\": \"Resumen cronológico de los hechos detectados...\",\n  \"claves_facilitadas\": boolean,\n  \"detalle_claves\": \"Explicación técnica sobre la entrega de claves o Santander Pass...\",\n  \"tipo_fraude\": \"Robo / Phishing / Clonación / Otro\",\n  \"tarjeta_en_posesion\": boolean,\n  \"monto_total_estimado\": \"Suma total de los cargos mencionados\"\n}\n\nRegla: No omitas palabras ni resumas en el campo 'transcripcion_completa'. Responde solo el JSON.",
        "audioUrls": "={{ $json.url_base_datos }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -3024,
        528
      ],
      "id": "96c35494-c688-42d8-a78e-447d271f0b89",
      "name": "Analyze audio",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Xg5bF0RBn1SCoQ4M",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2800,
        48
      ],
      "id": "64d3c9a5-6845-4832-9cc9-dffc53fbc422",
      "name": "Extract from File",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7dee56ff-e18a-4e71-87c4-473adf684662",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "Registro de Caso CRM - Banco Santander",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registro de Caso CRM - Banco Santander"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a532a9a0-a108-4799-bd19-b482a46b6009",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "Certificado de Institución Bancaria",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Certificado de Institución Bancaria"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86372619-985f-49a9-95aa-e66dc98f3dab",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "Declaración Jurada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Declaración Jurada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66b01e56-7613-482d-abd2-f77d97913f86",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "Denuncia Policial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Denuncia Policial"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -752
      ],
      "id": "8b5445be-37d9-482e-8cf1-e90bedb1f788",
      "name": "Selecionador_titulo_CBR_certificado",
      "retryOnFail": true
    },
    {
      "parameters": {
        "text": "=Rol: Auditor de Fraudes Bancarios.\nInstrucción: Extrae exclusivamente los siguientes puntos del documento adjunto:{{ $json.transcripcion }}\n\n1. MIDAS: Número de requerimiento o caso.\n2. Canal del Fraude: Identifica el medio usado (ej: Apple Pay, Wallet).\n3. Monto Defraudado: Suma total de los cargos reclamados formato precio sin el simbolo XXX.XXX.\n4. Fecha de Comunicación: Fecha del primer aviso al banco.DD/MM/AAAA\n5. Fecha Reclamo con Declaración: Fecha de envío de la declaración jurada. en formato dia(numero) de mes (escrito) del año (numero)\n6. Bloqueo: Fecha y hora exacta del bloqueo.DD/MM/AAAA\n7. Correo Electrónico: Email de contacto del cliente.\n8. Número de Teléfono: Teléfono celular o de contacto del cliente.\n9. Fechas Transferencias: Listado de las fechas de los movimientos desconocidos.",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"midas\": {\n      \"type\": \"string\",\n      \"description\": \"Número del requerimiento Midas\"\n    },\n    \"canal_fraude\": {\n      \"type\": \"string\",\n      \"description\": \"Canal utilizado para el fraude (ej: Apple Pay / Wallet)\"\n    },\n    \"monto_defraudado\": {\n      \"type\": \"number\",\n      \"description\": \"Monto total reclamado en pesos\"\n    },\n    \"fecha_comunicacion_fraude\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha del primer aviso de desconocimiento al banco\"\n    },\n    \"fecha_reclamo_declaracion\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha en que se configura el reclamo con el envío de la declaración jurada\"\n    },\n    \"fecha_hora_bloqueo\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha y hora exacta del bloqueo de la tarjeta\"\n    },\n    \"correo_electronico\": {\n      \"type\": \"string\",\n      \"description\": \"Email registrado del cliente\"\n    },\n    \"numero_telefono\": {\n      \"type\": \"string\",\n      \"description\": \"Número de teléfono de contacto\"\n    },\n    \"fechas_transferencias\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Lista de las fechas de cada transacción fraudulenta\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -2000,
        -912
      ],
      "id": "8b58e2ea-1cb1-4e85-a3e5-6455462e5c1a",
      "name": "Information Extractor Certificado",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2080,
        -752
      ],
      "id": "96132c98-6b7a-4d53-bc0f-fc639a427b1b",
      "name": "Google Gemini Chat Model1",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Xg5bF0RBn1SCoQ4M",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "=Rol: Auditor de Fraudes Bancarios.\nInstrucción: Extrae exclusivamente el siguiente dato del documento adjunto:\n{{ $json.transcripcion }}\n1. Domicilio: Dirección completa registrada por el cliente (incluye calle, número, comuna, ciudad y región, si están disponibles).",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"domicilio\": {\n      \"type\": \"string\",\n      \"description\": \"Dirección completa del cliente registrada en el documento\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1920,
        -640
      ],
      "id": "0fb7923a-7db1-4a35-931c-9f8ba393dcbc",
      "name": "Information Extractor Certificado1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1792,
        -480
      ],
      "id": "2a04cc15-c045-4621-b56a-b63f7af3347f",
      "name": "Google Gemini Chat Model2",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Xg5bF0RBn1SCoQ4M",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aec2693c-aa2d-419b-8918-594ab3901ea6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "58fc950a-0052-4bf8-8663-1a66dff9b5e8",
                    "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be06beec-0c82-4d7c-938e-9b45398571fb",
                    "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                    "rightValue": "mp3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mp3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3248,
        128
      ],
      "id": "86fe4f2b-d894-481a-b2e4-d6cb4a881606",
      "name": "Switch",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expedientes_core",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "condition": "eq",
              "keyValue": "={{ $json.id_maestro_rel }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "domicilio_cliente",
              "fieldValue": "={{ $json.output.domicilio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        -400
      ],
      "id": "6dd39e61-9e5c-4c58-9a4d-11d696f729b2",
      "name": "Update a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos la información del nodo Trigger (el primer nodo del flujo)\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\n\nreturn $input.all().map(item => {\n  \n  // 2. Agregamos el id_maestro_rel al flujo actual\n  item.json.id_maestro_rel = datosIniciales.id_maestro_rel;\n  \n  // (Opcional) Agregamos el id_exp por si lo necesitas\n  item.json.id_exp = datosIniciales.id_exp;\n\n  // 3. Aplanamos el domicilio (lo sacamos de \"output.domicilio\" a \"domicilio\")\n  if (item.json.output && item.json.output.domicilio) {\n    item.json.domicilio = item.json.output.domicilio;\n  }\n\n  return item;\n});;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -640
      ],
      "id": "00d26e3c-607b-470d-9b29-ecaea63bdb88",
      "name": "rescata_id",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos la información del nodo Trigger (el primer nodo del flujo)\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\n\nreturn $input.all().map(item => {\n  \n  // 2. Agregamos el id_maestro_rel al flujo actual\n  item.json.id_maestro_rel = datosIniciales.id_maestro_rel;\n  \n  // (Opcional) Agregamos el id_exp por si lo necesitas\n  item.json.id_exp = datosIniciales.id_exp;\n\n  // 3. Aplanamos el domicilio (lo sacamos de \"output.domicilio\" a \"domicilio\")\n  if (item.json.output && item.json.output.domicilio) {\n    item.json.domicilio = item.json.output.domicilio;\n  }\n\n  return item;\n});;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -912
      ],
      "id": "96927f01-7c8c-432e-b33f-ca79bd30efc7",
      "name": "rescata_id1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expedientes_core",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "condition": "eq",
              "keyValue": "={{ $json.id_maestro_rel }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fecha_declaracion_reclamo",
              "fieldValue": "={{ $json.output.fecha_reclamo_declaracion }}"
            },
            {
              "fieldId": "fecha_aviso",
              "fieldValue": "={{ $json.output.fecha_comunicacion_fraude }}"
            },
            {
              "fieldId": "numero_contacto",
              "fieldValue": "={{ $json.output.numero_telefono }}"
            },
            {
              "fieldId": "fecha_bloqueo",
              "fieldValue": "={{ $json.output.fecha_hora_bloqueo }}"
            },
            {
              "fieldId": "canal_fraude",
              "fieldValue": "={{ $json.output.canal_fraude }}"
            },
            {
              "fieldId": "fechas_transferencias",
              "fieldValue": "={{ $json.output.fechas_transferencias }}"
            },
            {
              "fieldId": "monto_reclamado",
              "fieldValue": "={{ $json.output.monto_defraudado }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1488,
        -896
      ],
      "id": "e1daf099-d0cd-4e2b-8f77-52863d913310",
      "name": "Update a row1",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expediente_docs",
        "filters": {
          "conditions": [
            {
              "keyName": "url_base_datos",
              "condition": "eq",
              "keyValue": "={{ $json.url_documento }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcripcion_resumen_ia",
              "fieldValue": "={{ $json.transcripcion }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2304,
        -960
      ],
      "id": "8933c50e-0b29-468e-923f-506dc4ff6dfc",
      "name": "Update a row2",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expediente_docs",
        "filters": {
          "conditions": [
            {
              "keyName": "url_base_datos",
              "condition": "eq",
              "keyValue": "={{ $json.url_documento }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcripcion_resumen_ia",
              "fieldValue": "={{ $json.transcripcion }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2288,
        -368
      ],
      "id": "1169d9ca-a6ab-47a3-aba9-8fa6fb9f39b6",
      "name": "Update a row3",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expediente_docs",
        "filters": {
          "conditions": [
            {
              "keyName": "url_base_datos",
              "condition": "eq",
              "keyValue": "={{ $json.url_documento }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcripcion_resumen_ia",
              "fieldValue": "={{ $json.transcripcion }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2288,
        -208
      ],
      "id": "47c2112a-0f8a-4f00-9808-6e945d487bdc",
      "name": "Update a row4",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expediente_docs",
        "filters": {
          "conditions": [
            {
              "keyName": "url_base_datos",
              "condition": "eq",
              "keyValue": "={{ $json.url_documento }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transcripcion_resumen_ia",
              "fieldValue": "={{ $json.transcripcion }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2288,
        -528
      ],
      "id": "ae1c3ae8-f10c-4b0a-8327-8ea5d340a7ca",
      "name": "Update a row5",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url_base_datos }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3024,
        144
      ],
      "id": "83bfa450-39a2-40b6-a192-e169f2e83ba0",
      "name": "HTTP Request3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos los items originales que pasaron por la rama \"pdf\" (salida 0) del Switch\n// Así recuperamos los IDs y nombres de archivo sin importar lo que haga Gemini\nconst documentosOriginales = $items(\"Switch\", 0, 0);\n\nreturn $input.all().map((item, index) => {\n  // 2. Vinculamos el documento original con el resultado actual usando el índice (orden)\n  const metadataOriginal = documentosOriginales[index].json;\n\n  // 3. Intentamos encontrar el texto en las posibles rutas de respuesta de Gemini\n  let rawText = \"\";\n  \n  if (item.json.text) {\n    rawText = item.json.text; \n  } else if (item.json.candidates && item.json.candidates[0].content.parts[0].text) {\n    rawText = item.json.candidates[0].content.parts[0].text; \n  } else if (item.json.content && item.json.content.parts && item.json.content.parts[0]) {\n    rawText = item.json.content.parts[0].text; \n  } else if (item.json.message && item.json.message.content) {\n    rawText = item.json.message.content;\n  }\n\n  // Si no encuentra nada, devuelve un error pero MANTIENE los IDs\n  if (!rawText) {\n    return {\n      json: { \n        ...metadataOriginal,\n        error: \"No se encontró texto en la respuesta de la IA.\"\n      }\n    };\n  }\n\n  // 4. Limpieza de etiquetas Markdown de bloque de código\n  let cleanJsonStr = rawText.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\n\n  try {\n    // 5. Parsear el JSON devuelto por la IA\n    let parsedData = JSON.parse(cleanJsonStr);\n    let elementosClave = parsedData.indexacion?.elementos_clave || {};\n\n    // 6. Retornar los datos FUSIONADOS (IDs Originales + Resultados OCR)\n    return {\n      json: {\n        // --- METADATOS ORIGINALES (AQUÍ OCURRE EL LINKEO) ---\n        id_maestro_rel: metadataOriginal.id_maestro_rel,\n        id_exp: metadataOriginal.id_exp,\n        nombre_archivo: metadataOriginal.nombre_archivo,\n        url_documento: metadataOriginal.url_base_datos,\n\n        // --- RESULTADOS DEL OCR ---\n        clasificacion: parsedData.clasificacion || \"Sin clasificar\",\n        transcripcion: parsedData.transcripcion_completa || \"\",\n        entidad: parsedData.indexacion?.entidad || \"No detectada\",\n        titular: parsedData.indexacion?.titular || \"No detectado\",\n        fecha_documento: parsedData.indexacion?.fecha || \"No detectada\",\n        \n        // Expande dinámicamente los datos extra (monto, fechas, etc.)\n        ...elementosClave \n      }\n    };\n    \n  } catch (e) {\n    // Si la IA alucina o el JSON es inválido, mantenemos la vinculación para no perder el archivo\n    return {\n      json: {\n        ...metadataOriginal,\n        error: \"Error de formato al parsear el JSON de la IA\",\n        raw_text: rawText.substring(0, 250) + \"...\"\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -720
      ],
      "id": "e5bc50f1-ff84-48ff-88b1-1d4dcb4b1735",
      "name": "orden_documento",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rol: Analista Legal experto en la Ley 19.496 (Protección al Consumidor) y competencia de los Juzgados de Policía Local (JPL) en Chile.\n\nTarea: Determinar el Juzgado de Policía Local competente para una acción legal por fraude bancario (Ley 21.234) basada en el domicilio del cliente.\n\nInsumos de datos:\n- Domicilio del cliente: {{ $json.domicilio }}\n- ID Maestro: {{ $json.id_maestro_rel }}\n\nInstrucciones de análisis:\n1. Identifica la COMUNA y REGIÓN del domicilio proporcionado.\n2. El tribunal competente DEBE ser el Juzgado de Policía Local de la comuna del demandante.\n3. Formato de nombre: Si la comuna es \"Peñalolén\", el tribunal es \"Juzgado de Policía Local de Peñalolén\". Si hay varios juzgados en la comuna (ej: Santiago), indica \"Juzgado de Policía Local de Santiago\" (el sistema de distribución se encargará del número de juzgado).\n\nEsquema de Respuesta (JSON):\n{\n  \"id_maestro\": \"{{ $json.id_maestro_rel }}\",\n  \"tribunal\": \"Juzgado de Policía Local de [Nombre de Comuna]\" todo en mayucuscula,\n  \"tribunal_region\": \"[Nombre de la Región]\",\n  \"tribunal_localidad\": \"[Nombre de la Comuna]\",\n  \"tipo_tribunal\": \"Policía Local\",\n  \"nombre_causa\": \"Denuncia y Demanda Civil - {{ $json.id_maestro_rel }}\"\n}\n\nRestricción: Responde exclusivamente el objeto JSON sin texto adicional.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1296,
        -752
      ],
      "id": "89142dc9-7630-43e8-a16e-4ec7a3a48af8",
      "name": "agente_competencia",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1280,
        -576
      ],
      "id": "b53e2cd3-f24b-440c-8ce6-d028621702af",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Xg5bF0RBn1SCoQ4M",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesamos la salida del agente para dejar solo datos de tribunal y ubicación\nreturn $input.all().map(item => {\n  try {\n    // 1. Extraer y limpiar el string de la IA\n    let rawOutput = item.json.output;\n    const jsonString = rawOutput.replace(/```json|```/gi, '').trim();\n    \n    // 2. Convertir a objeto JSON\n    const dataIA = JSON.parse(jsonString);\n\n    // 3. Retornar objeto filtrado sin 'tipo_rol' ni 'nombre_causa'\n    return {\n      json: {\n        id_maestro: dataIA.id_maestro,\n        tribunal: dataIA.tribunal,\n        tribunal_region: dataIA.tribunal_region,\n        tribunal_localidad: dataIA.tribunal_localidad,\n        tipo_tribunal: dataIA.tipo_tribunal\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        error: \"Error en transformación de datos de competencia\",\n        detalles: error.message\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -752
      ],
      "id": "03f500e9-1db2-4af8-8b66-ea409ad3be9f",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "demanda",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "condition": "eq",
              "keyValue": "={{ $json.id_maestro }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tribunal",
              "fieldValue": "={{ $json.tribunal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -768,
        -752
      ],
      "id": "b79eebb1-6ac3-43ba-a471-c91971c6ac1a",
      "name": "Update a row6",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "demanda",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "condition": "eq",
              "keyValue": "={{ $json.id_maestro_rel }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tabla_transaccion",
              "fieldValue": "={{ $json.tabla_transaccion.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2288,
        -48
      ],
      "id": "314cb91d-6aa2-42ed-b23c-c306efdf8c60",
      "name": "Update a row7",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos el ID maestro desde el nodo que inició el flujo\n// Usamos el nombre del trigger común en tus sub-workflows\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\nconst idMaestro = datosIniciales.id_maestro_rel || \"Sin_ID\";\n\n// 2. Extraemos todas las filas del nodo anterior (Extract from File)\n// $input.all() nos da todos los registros, los convertimos a un array simple\nconst todasLasFilas = $input.all().map(item => item.json);\n\n// 3. Retornamos un ÚNICO objeto que contiene el ID para el filtro \n// y el JSON completo de la tabla para la columna 'tabla_transaccion'\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    tabla_transaccion: {\n      metadata: {\n        total_filas: todasLasFilas.length,\n        fecha_procesamiento: new Date().toISOString()\n      },\n      data: todasLasFilas\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -48
      ],
      "id": "e8ccc1e5-a478-40b2-8747-a5ddfcf1e306",
      "name": "Code in JavaScript1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2000,
        -320
      ],
      "id": "01b270c4-7e67-4cbe-9181-3fe1bbd308fb",
      "name": "Merge",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1s359PEAPMfy5nZICQfG4hxTCNpsRGj7hGRkprb69tw0",
          "mode": "list",
          "cachedResultName": "Texto tipo audio",
          "cachedResultUrl": "https://docs.google.com/document/d/1s359PEAPMfy5nZICQfG4hxTCNpsRGj7hGRkprb69tw0/edit?usp=drivesdk"
        },
        "name": "=audio_{{ $json.banco_cliente }}_{{ $json.nombre_cliente }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id_carpeta }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2288,
        528
      ],
      "id": "2a376fd2-aee0-4c8c-b463-ca0d24934a8b",
      "name": "Copiar Plantilla2",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PlY76obRIwsQh9yA",
          "name": "Drive_arh"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{tipo_fraude}}",
              "replaceText": "={{ $('ordena_audio').item.json.tipo_fraude }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{transcripcion_completa}}",
              "replaceText": "={{ $('ordena_audio').item.json.transcripcion }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{relato_paso_a_paso}}",
              "replaceText": "={{ $('ordena_audio').item.json.relato_hechos }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{claves_facilitadas}}",
              "replaceText": "={{ $('ordena_audio').item.json.claves_facilitadas }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{id_maestro_rel}}",
              "replaceText": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2000,
        528
      ],
      "id": "8f227dde-05c4-4c35-9a57-e44539191672",
      "name": "Reemplazar Variables2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "zC0ewKqMHxyhHG0u",
          "name": "Doc_arh_iramirez.leg"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Rescatamos la salida del nodo de análisis de audio\nconst aiResponse = $node[\"Analyze audio\"].json;\n\nreturn $input.all().map(item => {\n  let rawText = \"\";\n  \n  // 2. Extraer el texto de la respuesta de Gemini (maneja distintos formatos de salida)\n  if (aiResponse.text) {\n    rawText = aiResponse.text;\n  } else if (aiResponse.candidates && aiResponse.candidates[0].content.parts[0].text) {\n    rawText = aiResponse.candidates[0].content.parts[0].text;\n  }\n\n  // 3. Limpieza de etiquetas Markdown (```json ... ```)\n  let cleanJsonStr = rawText.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\n  \n  let parsedData = {};\n  try {\n    parsedData = JSON.parse(cleanJsonStr);\n  } catch (e) {\n    parsedData = { \n      transcripcion_completa: \"Error al parsear transcripción\",\n      relato_paso_a_paso: rawText \n    };\n  }\n\n  // 4. Formateo de Monto (Uso de LaTeX para representación interna)\n  // El monto se extrae del campo 'monto_total_estimado'\n  const montoNumerico = parseFloat(parsedData.monto_total_estimado?.toString().replace(/[^0-9]/g, '') || 0);\n\n  return {\n    json: {\n      // Metadatos para vinculación con Supabase [cite: 8, 22]\n      id_maestro_rel: item.json.id_maestro_rel,\n      nombre_demandado: item.json.nombre_demandado || \"Cliente\",\n      \n      // Datos para la plantilla de Word/Docs\n      transcripcion: parsedData.transcripcion_completa || \"No disponible\",\n      relato_hechos: parsedData.relato_paso_a_paso || \"No disponible\",\n      tipo_fraude: parsedData.tipo_fraude || \"No detectado\",\n      monto_formateado: \"$\" + montoNumerico.toLocaleString('es-CL'),\n      claves_facilitadas: parsedData.claves_facilitadas ? \"SÍ\" : \"NO\",\n      \n      // Preparación para tabla Transacciones [cite: 17]\n      monto_final: montoNumerico\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        528
      ],
      "id": "b794a2f2-f42c-409b-990a-cb070c915971",
      "name": "ordena_audio"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "expedientes_core",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2576,
        528
      ],
      "id": "45507fde-26b9-4f25-9d99-831a7f665a63",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el ID del documento generado y el ID Maestro\nconst docId = $node[\"Reemplazar Variables2\"].json.id;\nconst idMaestro = $('When Executed by Another Workflow').first().json.id_maestro_rel;\n\n// 2. Construimos la URL pública/interna de edición\nconst driveUrl = `https://docs.google.com/document/d/${docId}/edit`;\n\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    url_drive: driveUrl,\n    nombre_archivo: $node[\"Copiar Plantilla2\"].json.name,\n    tipo_evidencia: \"DOCX\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        528
      ],
      "id": "120ac972-f508-4ad6-8d66-032a6138d5cf",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expediente_docs",
        "filters": {
          "conditions": [
            {
              "keyName": "id_exp",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_exp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url_trancripcion_audio",
              "fieldValue": "={{ $json.url_drive }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        528
      ],
      "id": "d3b9f191-e4ea-40fb-8bc3-3bb778cba603",
      "name": "Update a row9",
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [{ json: { error: \"Sin datos\" } }];\n\nconst firstRow = items[0].json;\nconst headers = Object.keys(firstRow);\n\n// Construcción del HTML compatible con Google Docs\nlet html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: Arial, sans-serif;\">\n  <h2 style=\"color: #1F497D;\">Detalle de Transacciones (Respaldo Original)</h2>\n  <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" width=\"100%\" bordercolor=\"#cccccc\">\n    <thead>\n      <tr>`;\n\nfor (const header of headers) {\n    html += `<th bgcolor=\"#1F497D\" align=\"left\"><font color=\"#ffffff\"><b>${header}</b></font></th>`;\n}\nhtml += `</tr></thead><tbody>`;\n\nlet rowIndex = 0;\nfor (const item of items) {\n  const row = item.json;\n  const bgColor = (rowIndex % 2 === 0) ? \"#FFFFFF\" : \"#E6EDF5\";\n  html += `<tr>`;\n  for (const header of headers) {\n      const cellValue = row[header] !== undefined && row[header] !== null ? row[header] : '---';\n      html += `<td bgcolor=\"${bgColor}\"><font color=\"#000000\">${cellValue}</font></td>`;\n  }\n  html += `</tr>`;\n  rowIndex++;\n}\nhtml += `</tbody></table></body></html>`;\n\n// Recuperar ID Maestro para vinculación con Expedientes_Core\nlet idMaestro = \"Sin_ID\";\ntry {\n  // Buscamos el ID en el nodo de inicio del flujo\n  idMaestro = $('When Executed by Another Workflow').first().json.id_maestro_rel;\n} catch (e) {}\n\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    tipo_evidencia: \"HTML_CONVERT\"\n  },\n  binary: {\n    data: { \n      data: buffer.toString('base64'),\n      mimeType: 'application/vnd.google-apps.document', \n      fileName: `${idMaestro}_transacciones.html`\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        144
      ],
      "id": "757eac03-fd51-4160-99d8-9704c72b112d",
      "name": "tabla_html_transaccion",
      "disabled": true
    },
    {
      "parameters": {
        "name": "=={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}_transacciones_evidencia",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Get a row1').item.json.id_carpeta }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2000,
        240
      ],
      "id": "1b6e6788-5a35-475a-afcd-8e419d62a2cc",
      "name": "Upload to Google Drive as Doc1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PlY76obRIwsQh9yA",
          "name": "Drive_arh"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "expedientes_core",
        "filters": {
          "conditions": [
            {
              "keyName": "id_maestro",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2576,
        336
      ],
      "id": "e569ccc7-9a7f-4e23-972c-415e7131d7ed",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "aHyskcDEf3XWa7w3",
          "name": "Supabase account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2288,
        240
      ],
      "id": "011b1e7e-a3aa-47ed-bc0e-bde919ea41fa",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {
          "binaryPropertyName": "binary",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "=={{ $('Upload to Google Drive as Doc1').item.json.name }}.pdf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1712,
        240
      ],
      "id": "deef38d6-2526-4c88-a384-b7b14e8db60c",
      "name": "Download as PDF2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PlY76obRIwsQh9yA",
          "name": "Drive_arh"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7JbkWMjRPidvkncF",
          "mode": "list",
          "cachedResultUrl": "/workflow/7JbkWMjRPidvkncF",
          "cachedResultName": "Crea demanda copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1808,
        -288
      ],
      "id": "24952f2a-64f7-4b43-ac67-606c9fa5c459",
      "name": "Call 'Crea demanda copy'"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "orden_documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "ordena_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabla_html_transaccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionador_titulo_CBR_certificado": {
      "main": [
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor Certificado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor Certificado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor Certificado": {
      "main": [
        [
          {
            "node": "rescata_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor Certificado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor Certificado1": {
      "main": [
        [
          {
            "node": "rescata_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor Certificado1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rescata_id": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "agente_competencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rescata_id1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "orden_documento": {
      "main": [
        [
          {
            "node": "Selecionador_titulo_CBR_certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "agente_competencia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agente_competencia": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update a row7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'Crea demanda copy'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update a row7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Copiar Plantilla2": {
      "main": [
        [
          {
            "node": "Reemplazar Variables2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ordena_audio": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Copiar Plantilla2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reemplazar Variables2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update a row9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row9": {
      "main": [
        []
      ]
    },
    "tabla_html_transaccion": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive as Doc1": {
      "main": [
        [
          {
            "node": "Download as PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Upload to Google Drive as Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id_exp": "dae48965-26ee-48d9-b879-7039c2bef93a",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://drive.google.com/file/d/1CBAQM3gyW_cvJOCulXacPw7kG3Ufo6oQ/view?usp=drivesdk",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_4184407.pdf",
          "storage_id": "31976798-d8f8-4740-8783-26846949919d",
          "nombre_archivo": "clean_4184407.pdf",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_4184407.pdf"
        }
      },
      {
        "json": {
          "id_exp": "63441962-d7ad-46c7-a1fd-62aad1e1ef93",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://drive.google.com/file/d/1IcdxKtnj9P988QMDjpSSkQHLa2AQ2gyE/view?usp=drivesdk",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_Certificado 4184407.pdf",
          "storage_id": "bc711b6a-16d2-4c4a-aa61-d32c30760020",
          "nombre_archivo": "clean_Certificado 4184407.pdf",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_Certificado 4184407.pdf"
        }
      },
      {
        "json": {
          "id_exp": "7fe04054-af12-4e98-bcd5-a7a0c5a8e66d",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://drive.google.com/file/d/1KMHT2lE9IAXFpnwrxRTU9tasY8MzOgRj/view?usp=drivesdk",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_DECLARACION JURADA.pdf",
          "storage_id": "22fecf06-ab0d-4408-a756-10eef974ee30",
          "nombre_archivo": "clean_DECLARACION JURADA.pdf",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_DECLARACION JURADA.pdf"
        }
      },
      {
        "json": {
          "id_exp": "89da7708-7063-4bde-b080-1f64d1e8a2bf",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://drive.google.com/file/d/1QOdibLZASUiOTyjJHFLfgSZDcmeE5Pj0/view?usp=drivesdk",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_PARTE DENUNCIA FRAUDE BANCOS SANTANDER.pdf",
          "storage_id": "ce4f55c8-40c0-42b5-b347-87d04948692c",
          "nombre_archivo": "clean_PARTE DENUNCIA FRAUDE BANCOS SANTANDER.pdf",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_PARTE DENUNCIA FRAUDE BANCOS SANTANDER.pdf"
        }
      },
      {
        "json": {
          "id_exp": "208179f6-e46b-4ac9-9f3b-b8c9fb3a5dcd",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://docs.google.com/spreadsheets/d/1KQVUdIIC4Yve1ffeF7vcYDSE9fcBFKhs/edit?usp=drivesdk&ouid=106312041558252336691&rtpof=true&sd=true",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_trx.xlsx",
          "storage_id": "9bc35472-c8fa-43c8-b288-7a0517f96f9c",
          "nombre_archivo": "clean_trx.xlsx",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_trx.xlsx"
        }
      },
      {
        "json": {
          "id_exp": "bbea25aa-9150-4402-b0a3-71fc25f1451d",
          "id_maestro_rel": "b7af9fef-acd8-40a0-8947-e787cd4213e1",
          "tipo_archivo": null,
          "url_drive": "https://drive.google.com/file/d/1a_crXVp7Vg5SStW6gplB6pnbYkBn_HL8/view?usp=drivesdk",
          "transcripcion_resumen_ia": null,
          "rol": null,
          "tipo_actuacion": null,
          "storage_key": "evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_Audio.MP3",
          "storage_id": "6d3c648f-989d-4e41-ac7b-23dbfe00a483",
          "nombre_archivo": "clean_Audio.MP3",
          "url_base_datos": "https://yptieqrtzplmhbanwzmi.supabase.co/storage/v1/object/public/evidencias/b7af9fef-acd8-40a0-8947-e787cd4213e1/clean_Audio.MP3"
        }
      }
    ]
  },
  "versionId": "d67c55bc-1849-421d-b27e-7614ac63bda2",
  "activeVersionId": "d62c21ab-93e8-4744-8903-cc6b34a3f595",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T15:30:39.066Z",
      "createdAt": "2026-03-25T15:30:39.066Z",
      "role": "workflow:owner",
      "workflowId": "wjzWLYeTtY4sNBO5",
      "projectId": "uALgjyZSTMmadoiP"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-26T17:36:22.261Z",
    "createdAt": "2026-03-25T17:47:39.903Z",
    "versionId": "d62c21ab-93e8-4744-8903-cc6b34a3f595",
    "workflowId": "wjzWLYeTtY4sNBO5",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "3db1a7ef-2ba8-4f81-beaf-030cea1f9376",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -3472,
          144
        ]
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-flash-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-flash-preview"
          },
          "text": "Rol: Analista Documental Experto en Peritaje Bancario y Legal.\n\nInstrucción: Procesa el documento adjunto realizando tres tareas críticas en el orden especificado.\n\n1. CLASIFICACIÓN:\nIdentifica el tipo de documento. Las categorías posibles son: [Estado de Cuenta / Declaración Jurada / Denuncia Policial / Cédula de Identidad / Registro de Caso CRM - Banco Santander/Certificado de Institución Bancaria].\n\n2. TRANSCRIPCIÓN ÍNTEGRA:\nGenera una transcripción literal (verbatim) de todo el texto contenido en el documento. No omitas firmas, sellos, pies de página ni números correlativos.\n\n3. INDEXACIÓN DE INFORMACIÓN:\nExtrae y organiza los siguientes datos en un formato estructurado:\n- Emisor: (ej: Banco Santander, Carabineros de Chile, PDI).\n- Titular/Sujeto: Nombre completo y RUT si están presentes.\n- Fecha del documento: Fecha de emisión o firma.\n- Datos Clave: (Si es estado de cuenta: montos y comercios; si es denuncia: número de parte; si es declaración: número de requerimiento).\n\nSALIDA ESPERADA (JSON):\nEntrega exclusivamente un objeto JSON con esta estructura:\n{\n  \"clasificacion\": \"tipo_de_documento\",\n  \"transcripcion_completa\": \"texto_aqui...\",\n  }\n}\n",
          "documentUrls": "={{ $json.url_base_datos }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -3024,
          -720
        ],
        "id": "29b66c81-23c0-4efb-9949-afe0bb5ab9ed",
        "name": "Analyze document",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "PHgX3LT1GbZeOOGX",
            "name": "Google Gemini 300"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-flash-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-flash-preview"
          },
          "text": "Rol: Perito Judicial y Transcriptor Experto en Fraudes Bancarios.\n\nInstrucción: Realiza una transcripción íntegra (palabra por palabra) del audio de la llamada adjunta. Una vez finalizada la transcripción, realiza el análisis técnico del incidente.\n\nDebes responder exclusivamente un objeto JSON con la siguiente estructura:\n{\n  \"transcripcion_completa\": \"Aquí inserta la transcripción literal de toda la llamada...\",\n  \"relato_paso_a_paso\": \"Resumen cronológico de los hechos detectados...\",\n  \"claves_facilitadas\": boolean,\n  \"detalle_claves\": \"Explicación técnica sobre la entrega de claves o Santander Pass...\",\n  \"tipo_fraude\": \"Robo / Phishing / Clonación / Otro\",\n  \"tarjeta_en_posesion\": boolean,\n  \"monto_total_estimado\": \"Suma total de los cargos mencionados\"\n}\n\nRegla: No omitas palabras ni resumas en el campo 'transcripcion_completa'. Responde solo el JSON.",
          "audioUrls": "={{ $json.url_base_datos }}",
          "simplify": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -3024,
          528
        ],
        "id": "96c35494-c688-42d8-a78e-447d271f0b89",
        "name": "Analyze audio",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "PHgX3LT1GbZeOOGX",
            "name": "Google Gemini 300"
          }
        }
      },
      {
        "parameters": {
          "operation": "xlsx",
          "binaryPropertyName": "=data",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -2800,
          48
        ],
        "id": "64d3c9a5-6845-4832-9cc9-dffc53fbc422",
        "name": "Extract from File",
        "retryOnFail": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "7dee56ff-e18a-4e71-87c4-473adf684662",
                      "leftValue": "={{ $json.clasificacion }}",
                      "rightValue": "Registro de Caso CRM - Banco Santander",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Registro de Caso CRM - Banco Santander"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "a532a9a0-a108-4799-bd19-b482a46b6009",
                      "leftValue": "={{ $json.clasificacion }}",
                      "rightValue": "Certificado de Institución Bancaria",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Certificado de Institución Bancaria"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "86372619-985f-49a9-95aa-e66dc98f3dab",
                      "leftValue": "={{ $json.clasificacion }}",
                      "rightValue": "Declaración Jurada",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Declaración Jurada"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "66b01e56-7613-482d-abd2-f77d97913f86",
                      "leftValue": "={{ $json.clasificacion }}",
                      "rightValue": "Denuncia Policial",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Denuncia Policial"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2576,
          -752
        ],
        "id": "8b5445be-37d9-482e-8cf1-e90bedb1f788",
        "name": "Selecionador_titulo_CBR_certificado",
        "retryOnFail": true
      },
      {
        "parameters": {
          "text": "=Rol: Auditor de Fraudes Bancarios.\nInstrucción: Extrae exclusivamente los siguientes puntos del documento adjunto:{{ $json.transcripcion }}\n\n1. MIDAS: Número de requerimiento o caso.\n2. Canal del Fraude: Identifica el medio usado (ej: Apple Pay, Wallet).\n3. Monto Defraudado: Suma total de los cargos reclamados formato precio sin el simbolo XXX.XXX.\n4. Fecha de Comunicación: Fecha del primer aviso al banco.DD/MM/AAAA\n5. Fecha Reclamo con Declaración: Fecha de envío de la declaración jurada. en formato dia(numero) de mes (escrito) del año (numero)\n6. Bloqueo: Fecha y hora exacta del bloqueo.DD/MM/AAAA\n7. Correo Electrónico: Email de contacto del cliente.\n8. Número de Teléfono: Teléfono celular o de contacto del cliente.\n9. Fechas Transferencias: Listado de las fechas de los movimientos desconocidos.",
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"midas\": {\n      \"type\": \"string\",\n      \"description\": \"Número del requerimiento Midas\"\n    },\n    \"canal_fraude\": {\n      \"type\": \"string\",\n      \"description\": \"Canal utilizado para el fraude (ej: Apple Pay / Wallet)\"\n    },\n    \"monto_defraudado\": {\n      \"type\": \"number\",\n      \"description\": \"Monto total reclamado en pesos\"\n    },\n    \"fecha_comunicacion_fraude\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha del primer aviso de desconocimiento al banco\"\n    },\n    \"fecha_reclamo_declaracion\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha en que se configura el reclamo con el envío de la declaración jurada\"\n    },\n    \"fecha_hora_bloqueo\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha y hora exacta del bloqueo de la tarjeta\"\n    },\n    \"correo_electronico\": {\n      \"type\": \"string\",\n      \"description\": \"Email registrado del cliente\"\n    },\n    \"numero_telefono\": {\n      \"type\": \"string\",\n      \"description\": \"Número de teléfono de contacto\"\n    },\n    \"fechas_transferencias\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Lista de las fechas de cada transacción fraudulenta\"\n    }\n  }\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          -2352,
          -1216
        ],
        "id": "8b58e2ea-1cb1-4e85-a3e5-6455462e5c1a",
        "name": "Information Extractor Certificado",
        "retryOnFail": true
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -2288,
          -992
        ],
        "id": "96132c98-6b7a-4d53-bc0f-fc639a427b1b",
        "name": "Google Gemini Chat Model1",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "PHgX3LT1GbZeOOGX",
            "name": "Google Gemini 300"
          }
        }
      },
      {
        "parameters": {
          "text": "=Rol: Auditor de Fraudes Bancarios.\nInstrucción: Extrae exclusivamente el siguiente dato del documento adjunto:\n{{ $json.transcripcion }}\n1. Domicilio: Dirección completa registrada por el cliente (incluye calle, número, comuna, ciudad y región, si están disponibles).",
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"domicilio\": {\n      \"type\": \"string\",\n      \"description\": \"Dirección completa del cliente registrada en el documento\"\n    }\n  }\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          -2352,
          -1680
        ],
        "id": "0fb7923a-7db1-4a35-931c-9f8ba393dcbc",
        "name": "Information Extractor Certificado1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -2288,
          -1456
        ],
        "id": "2a04cc15-c045-4621-b56a-b63f7af3347f",
        "name": "Google Gemini Chat Model2",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "PHgX3LT1GbZeOOGX",
            "name": "Google Gemini 300"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                      "rightValue": "pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "aec2693c-aa2d-419b-8918-594ab3901ea6"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pdf"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "58fc950a-0052-4bf8-8663-1a66dff9b5e8",
                      "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                      "rightValue": "xlsx",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "xlsx"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "be06beec-0c82-4d7c-938e-9b45398571fb",
                      "leftValue": "={{ $json.nombre_archivo.split('.').pop().toLowerCase() }}",
                      "rightValue": "mp3",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "mp3"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -3248,
          128
        ],
        "id": "86fe4f2b-d894-481a-b2e4-d6cb4a881606",
        "name": "Switch",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expedientes_core",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "condition": "eq",
                "keyValue": "={{ $json.id_maestro_rel }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "domicilio_cliente",
                "fieldValue": "={{ $json.output.domicilio }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1712,
          -1408
        ],
        "id": "6dd39e61-9e5c-4c58-9a4d-11d696f729b2",
        "name": "Update a row",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Rescatamos la información del nodo Trigger (el primer nodo del flujo)\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\n\nreturn $input.all().map(item => {\n  \n  // 2. Agregamos el id_maestro_rel al flujo actual\n  item.json.id_maestro_rel = datosIniciales.id_maestro_rel;\n  \n  // (Opcional) Agregamos el id_exp por si lo necesitas\n  item.json.id_exp = datosIniciales.id_exp;\n\n  // 3. Aplanamos el domicilio (lo sacamos de \"output.domicilio\" a \"domicilio\")\n  if (item.json.output && item.json.output.domicilio) {\n    item.json.domicilio = item.json.output.domicilio;\n  }\n\n  return item;\n});;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          -1568
        ],
        "id": "00d26e3c-607b-470d-9b29-ecaea63bdb88",
        "name": "rescata_id",
        "retryOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// 1. Rescatamos la información del nodo Trigger (el primer nodo del flujo)\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\n\nreturn $input.all().map(item => {\n  \n  // 2. Agregamos el id_maestro_rel al flujo actual\n  item.json.id_maestro_rel = datosIniciales.id_maestro_rel;\n  \n  // (Opcional) Agregamos el id_exp por si lo necesitas\n  item.json.id_exp = datosIniciales.id_exp;\n\n  // 3. Aplanamos el domicilio (lo sacamos de \"output.domicilio\" a \"domicilio\")\n  if (item.json.output && item.json.output.domicilio) {\n    item.json.domicilio = item.json.output.domicilio;\n  }\n\n  return item;\n});;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          -1120
        ],
        "id": "96927f01-7c8c-432e-b33f-ca79bd30efc7",
        "name": "rescata_id1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expedientes_core",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "condition": "eq",
                "keyValue": "={{ $json.id_maestro_rel }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "fecha_declaracion_reclamo",
                "fieldValue": "={{ $json.output.fecha_reclamo_declaracion }}"
              },
              {
                "fieldId": "fecha_aviso",
                "fieldValue": "={{ $json.output.fecha_comunicacion_fraude }}"
              },
              {
                "fieldId": "numero_contacto",
                "fieldValue": "={{ $json.output.numero_telefono }}"
              },
              {
                "fieldId": "fecha_bloqueo",
                "fieldValue": "={{ $json.output.fecha_hora_bloqueo }}"
              },
              {
                "fieldId": "canal_fraude",
                "fieldValue": "={{ $json.output.canal_fraude }}"
              },
              {
                "fieldId": "fechas_transferencias",
                "fieldValue": "={{ $json.output.fechas_transferencias }}"
              },
              {
                "fieldId": "monto_reclamado",
                "fieldValue": "={{ $json.output.monto_defraudado }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1712,
          -1120
        ],
        "id": "e1daf099-d0cd-4e2b-8f77-52863d913310",
        "name": "Update a row1",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expediente_docs",
          "filters": {
            "conditions": [
              {
                "keyName": "url_base_datos",
                "condition": "eq",
                "keyValue": "={{ $json.url_documento }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "transcripcion_resumen_ia",
                "fieldValue": "={{ $json.transcripcion }} "
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2288,
          -816
        ],
        "id": "8933c50e-0b29-468e-923f-506dc4ff6dfc",
        "name": "Update a row2",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expediente_docs",
          "filters": {
            "conditions": [
              {
                "keyName": "url_base_datos",
                "condition": "eq",
                "keyValue": "={{ $json.url_documento }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "transcripcion_resumen_ia",
                "fieldValue": "={{ $json.transcripcion }} "
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2288,
          -432
        ],
        "id": "1169d9ca-a6ab-47a3-aba9-8fa6fb9f39b6",
        "name": "Update a row3",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expediente_docs",
          "filters": {
            "conditions": [
              {
                "keyName": "url_base_datos",
                "condition": "eq",
                "keyValue": "={{ $json.url_documento }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "transcripcion_resumen_ia",
                "fieldValue": "={{ $json.transcripcion }} "
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2288,
          -240
        ],
        "id": "47c2112a-0f8a-4f00-9808-6e945d487bdc",
        "name": "Update a row4",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expediente_docs",
          "filters": {
            "conditions": [
              {
                "keyName": "url_base_datos",
                "condition": "eq",
                "keyValue": "={{ $json.url_documento }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "transcripcion_resumen_ia",
                "fieldValue": "={{ $json.transcripcion }} "
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2288,
          -624
        ],
        "id": "ae1c3ae8-f10c-4b0a-8327-8ea5d340a7ca",
        "name": "Update a row5",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.url_base_datos }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -3024,
          144
        ],
        "id": "83bfa450-39a2-40b6-a192-e169f2e83ba0",
        "name": "HTTP Request3",
        "retryOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// 1. Rescatamos los items originales que pasaron por la rama \"pdf\" (salida 0) del Switch\n// Así recuperamos los IDs y nombres de archivo sin importar lo que haga Gemini\nconst documentosOriginales = $items(\"Switch\", 0, 0);\n\nreturn $input.all().map((item, index) => {\n  // 2. Vinculamos el documento original con el resultado actual usando el índice (orden)\n  const metadataOriginal = documentosOriginales[index].json;\n\n  // 3. Intentamos encontrar el texto en las posibles rutas de respuesta de Gemini\n  let rawText = \"\";\n  \n  if (item.json.text) {\n    rawText = item.json.text; \n  } else if (item.json.candidates && item.json.candidates[0].content.parts[0].text) {\n    rawText = item.json.candidates[0].content.parts[0].text; \n  } else if (item.json.content && item.json.content.parts && item.json.content.parts[0]) {\n    rawText = item.json.content.parts[0].text; \n  } else if (item.json.message && item.json.message.content) {\n    rawText = item.json.message.content;\n  }\n\n  // Si no encuentra nada, devuelve un error pero MANTIENE los IDs\n  if (!rawText) {\n    return {\n      json: { \n        ...metadataOriginal,\n        error: \"No se encontró texto en la respuesta de la IA.\"\n      }\n    };\n  }\n\n  // 4. Limpieza de etiquetas Markdown de bloque de código\n  let cleanJsonStr = rawText.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\n\n  try {\n    // 5. Parsear el JSON devuelto por la IA\n    let parsedData = JSON.parse(cleanJsonStr);\n    let elementosClave = parsedData.indexacion?.elementos_clave || {};\n\n    // 6. Retornar los datos FUSIONADOS (IDs Originales + Resultados OCR)\n    return {\n      json: {\n        // --- METADATOS ORIGINALES (AQUÍ OCURRE EL LINKEO) ---\n        id_maestro_rel: metadataOriginal.id_maestro_rel,\n        id_exp: metadataOriginal.id_exp,\n        nombre_archivo: metadataOriginal.nombre_archivo,\n        url_documento: metadataOriginal.url_base_datos,\n\n        // --- RESULTADOS DEL OCR ---\n        clasificacion: parsedData.clasificacion || \"Sin clasificar\",\n        transcripcion: parsedData.transcripcion_completa || \"\",\n        entidad: parsedData.indexacion?.entidad || \"No detectada\",\n        titular: parsedData.indexacion?.titular || \"No detectado\",\n        fecha_documento: parsedData.indexacion?.fecha || \"No detectada\",\n        \n        // Expande dinámicamente los datos extra (monto, fechas, etc.)\n        ...elementosClave \n      }\n    };\n    \n  } catch (e) {\n    // Si la IA alucina o el JSON es inválido, mantenemos la vinculación para no perder el archivo\n    return {\n      json: {\n        ...metadataOriginal,\n        error: \"Error de formato al parsear el JSON de la IA\",\n        raw_text: rawText.substring(0, 250) + \"...\"\n      }\n    };\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2800,
          -720
        ],
        "id": "e5bc50f1-ff84-48ff-88b1-1d4dcb4b1735",
        "name": "orden_documento",
        "retryOnFail": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Rol: Analista Legal experto en la Ley 19.496 (Protección al Consumidor) y competencia de los Juzgados de Policía Local (JPL) en Chile.\n\nTarea: Determinar el Juzgado de Policía Local competente para una acción legal por fraude bancario (Ley 21.234) basada en el domicilio del cliente.\n\nInsumos de datos:\n- Domicilio del cliente: {{ $json.domicilio }}\n- ID Maestro: {{ $json.id_maestro_rel }}\n\nInstrucciones de análisis:\n1. Identifica la COMUNA y REGIÓN del domicilio proporcionado.\n2. El tribunal competente DEBE ser el Juzgado de Policía Local de la comuna del demandante.\n3. Formato de nombre: Si la comuna es \"Peñalolén\", el tribunal es \"Juzgado de Policía Local de Peñalolén\". Si hay varios juzgados en la comuna (ej: Santiago), indica \"Juzgado de Policía Local de Santiago\" (el sistema de distribución se encargará del número de juzgado).\n\nEsquema de Respuesta (JSON):\n{\n  \"id_maestro\": \"{{ $json.id_maestro_rel }}\",\n  \"tribunal\": \"Juzgado de Policía Local de [Nombre de Comuna]\" todo en mayucuscula,\n  \"tribunal_region\": \"[Nombre de la Región]\",\n  \"tribunal_localidad\": \"[Nombre de la Comuna]\",\n  \"tipo_tribunal\": \"Policía Local\",\n  \"nombre_causa\": \"Denuncia y Demanda Civil - {{ $json.id_maestro_rel }}\"\n}\n\nRestricción: Responde exclusivamente el objeto JSON sin texto adicional.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1728,
          -1792
        ],
        "id": "89142dc9-7630-43e8-a16e-4ec7a3a48af8",
        "name": "agente_competencia",
        "retryOnFail": true
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1696,
          -1552
        ],
        "id": "b53e2cd3-f24b-440c-8ce6-d028621702af",
        "name": "Google Gemini Chat Model",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "PHgX3LT1GbZeOOGX",
            "name": "Google Gemini 300"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Procesamos la salida del agente para dejar solo datos de tribunal y ubicación\nreturn $input.all().map(item => {\n  try {\n    // 1. Extraer y limpiar el string de la IA\n    let rawOutput = item.json.output;\n    const jsonString = rawOutput.replace(/```json|```/gi, '').trim();\n    \n    // 2. Convertir a objeto JSON\n    const dataIA = JSON.parse(jsonString);\n\n    // 3. Retornar objeto filtrado sin 'tipo_rol' ni 'nombre_causa'\n    return {\n      json: {\n        id_maestro: dataIA.id_maestro,\n        tribunal: dataIA.tribunal,\n        tribunal_region: dataIA.tribunal_region,\n        tribunal_localidad: dataIA.tribunal_localidad,\n        tipo_tribunal: dataIA.tipo_tribunal\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        error: \"Error en transformación de datos de competencia\",\n        detalles: error.message\n      }\n    };\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          -1712
        ],
        "id": "03f500e9-1db2-4af8-8b66-ea409ad3be9f",
        "name": "Code in JavaScript",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "demanda",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "condition": "eq",
                "keyValue": "={{ $json.id_maestro }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "tribunal",
                "fieldValue": "={{ $json.tribunal }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1072,
          -1712
        ],
        "id": "b79eebb1-6ac3-43ba-a471-c91971c6ac1a",
        "name": "Update a row6",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "demanda",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "condition": "eq",
                "keyValue": "={{ $json.id_maestro_rel }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "tabla_transaccion",
                "fieldValue": "={{ $json.tabla_transaccion.data }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2288,
          -48
        ],
        "id": "314cb91d-6aa2-42ed-b23c-c306efdf8c60",
        "name": "Update a row7",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Rescatamos el ID maestro desde el nodo que inició el flujo\n// Usamos el nombre del trigger común en tus sub-workflows\nconst datosIniciales = $('When Executed by Another Workflow').first().json;\nconst idMaestro = datosIniciales.id_maestro_rel || \"Sin_ID\";\n\n// 2. Extraemos todas las filas del nodo anterior (Extract from File)\n// $input.all() nos da todos los registros, los convertimos a un array simple\nconst todasLasFilas = $input.all().map(item => item.json);\n\n// 3. Retornamos un ÚNICO objeto que contiene el ID para el filtro \n// y el JSON completo de la tabla para la columna 'tabla_transaccion'\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    tabla_transaccion: {\n      metadata: {\n        total_filas: todasLasFilas.length,\n        fecha_procesamiento: new Date().toISOString()\n      },\n      data: todasLasFilas\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2576,
          -48
        ],
        "id": "e8ccc1e5-a478-40b2-8747-a5ddfcf1e306",
        "name": "Code in JavaScript1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2000,
          -384
        ],
        "id": "01b270c4-7e67-4cbe-9181-3fe1bbd308fb",
        "name": "Merge",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1s359PEAPMfy5nZICQfG4hxTCNpsRGj7hGRkprb69tw0",
            "mode": "list",
            "cachedResultName": "Texto tipo audio",
            "cachedResultUrl": "https://docs.google.com/document/d/1s359PEAPMfy5nZICQfG4hxTCNpsRGj7hGRkprb69tw0/edit?usp=drivesdk"
          },
          "name": "=audio_{{ $json.banco_cliente }}_{{ $json.nombre_cliente }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id_carpeta }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -2288,
          528
        ],
        "id": "2a376fd2-aee0-4c8c-b463-ca0d24934a8b",
        "name": "Copiar Plantilla2",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "PlY76obRIwsQh9yA",
            "name": "Drive_arh"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{{tipo_fraude}}",
                "replaceText": "={{ $('ordena_audio').item.json.tipo_fraude }}",
                "matchCase": true
              },
              {
                "action": "replaceAll",
                "text": "{{transcripcion_completa}}",
                "replaceText": "={{ $('ordena_audio').item.json.transcripcion }}",
                "matchCase": true
              },
              {
                "action": "replaceAll",
                "text": "{{relato_paso_a_paso}}",
                "replaceText": "={{ $('ordena_audio').item.json.relato_hechos }}",
                "matchCase": true
              },
              {
                "action": "replaceAll",
                "text": "{{claves_facilitadas}}",
                "replaceText": "={{ $('ordena_audio').item.json.claves_facilitadas }}",
                "matchCase": true
              },
              {
                "action": "replaceAll",
                "text": "{{id_maestro_rel}}",
                "replaceText": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          -2000,
          528
        ],
        "id": "8f227dde-05c4-4c35-9a57-e44539191672",
        "name": "Reemplazar Variables2",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "zC0ewKqMHxyhHG0u",
            "name": "Doc_arh_iramirez.leg"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Rescatamos la salida del nodo de análisis de audio\nconst aiResponse = $node[\"Analyze audio\"].json;\n\nreturn $input.all().map(item => {\n  let rawText = \"\";\n  \n  // 2. Extraer el texto de la respuesta de Gemini (maneja distintos formatos de salida)\n  if (aiResponse.text) {\n    rawText = aiResponse.text;\n  } else if (aiResponse.candidates && aiResponse.candidates[0].content.parts[0].text) {\n    rawText = aiResponse.candidates[0].content.parts[0].text;\n  }\n\n  // 3. Limpieza de etiquetas Markdown (```json ... ```)\n  let cleanJsonStr = rawText.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\n  \n  let parsedData = {};\n  try {\n    parsedData = JSON.parse(cleanJsonStr);\n  } catch (e) {\n    parsedData = { \n      transcripcion_completa: \"Error al parsear transcripción\",\n      relato_paso_a_paso: rawText \n    };\n  }\n\n  // 4. Formateo de Monto (Uso de LaTeX para representación interna)\n  // El monto se extrae del campo 'monto_total_estimado'\n  const montoNumerico = parseFloat(parsedData.monto_total_estimado?.toString().replace(/[^0-9]/g, '') || 0);\n\n  return {\n    json: {\n      // Metadatos para vinculación con Supabase [cite: 8, 22]\n      id_maestro_rel: item.json.id_maestro_rel,\n      nombre_demandado: item.json.nombre_demandado || \"Cliente\",\n      \n      // Datos para la plantilla de Word/Docs\n      transcripcion: parsedData.transcripcion_completa || \"No disponible\",\n      relato_hechos: parsedData.relato_paso_a_paso || \"No disponible\",\n      tipo_fraude: parsedData.tipo_fraude || \"No detectado\",\n      monto_formateado: \"$\" + montoNumerico.toLocaleString('es-CL'),\n      claves_facilitadas: parsedData.claves_facilitadas ? \"SÍ\" : \"NO\",\n      \n      // Preparación para tabla Transacciones [cite: 17]\n      monto_final: montoNumerico\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2800,
          528
        ],
        "id": "b794a2f2-f42c-409b-990a-cb070c915971",
        "name": "ordena_audio"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "expedientes_core",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2576,
          528
        ],
        "id": "45507fde-26b9-4f25-9d99-831a7f665a63",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el ID del documento generado y el ID Maestro\nconst docId = $node[\"Reemplazar Variables2\"].json.id;\nconst idMaestro = $('When Executed by Another Workflow').first().json.id_maestro_rel;\n\n// 2. Construimos la URL pública/interna de edición\nconst driveUrl = `https://docs.google.com/document/d/${docId}/edit`;\n\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    url_drive: driveUrl,\n    nombre_archivo: $node[\"Copiar Plantilla2\"].json.name,\n    tipo_evidencia: \"DOCX\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1712,
          528
        ],
        "id": "120ac972-f508-4ad6-8d66-032a6138d5cf",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "expediente_docs",
          "filters": {
            "conditions": [
              {
                "keyName": "id_exp",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_exp }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "url_trancripcion_audio",
                "fieldValue": "={{ $json.url_drive }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1360,
          528
        ],
        "id": "d3b9f191-e4ea-40fb-8bc3-3bb778cba603",
        "name": "Update a row9",
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (items.length === 0) return [{ json: { error: \"Sin datos\" } }];\n\nconst firstRow = items[0].json;\nconst headers = Object.keys(firstRow);\n\n// Construcción del HTML compatible con Google Docs\nlet html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: Arial, sans-serif;\">\n  <h2 style=\"color: #1F497D;\">Detalle de Transacciones (Respaldo Original)</h2>\n  <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" width=\"100%\" bordercolor=\"#cccccc\">\n    <thead>\n      <tr>`;\n\nfor (const header of headers) {\n    html += `<th bgcolor=\"#1F497D\" align=\"left\"><font color=\"#ffffff\"><b>${header}</b></font></th>`;\n}\nhtml += `</tr></thead><tbody>`;\n\nlet rowIndex = 0;\nfor (const item of items) {\n  const row = item.json;\n  const bgColor = (rowIndex % 2 === 0) ? \"#FFFFFF\" : \"#E6EDF5\";\n  html += `<tr>`;\n  for (const header of headers) {\n      const cellValue = row[header] !== undefined && row[header] !== null ? row[header] : '---';\n      html += `<td bgcolor=\"${bgColor}\"><font color=\"#000000\">${cellValue}</font></td>`;\n  }\n  html += `</tr>`;\n  rowIndex++;\n}\nhtml += `</tbody></table></body></html>`;\n\n// Recuperar ID Maestro para vinculación con Expedientes_Core\nlet idMaestro = \"Sin_ID\";\ntry {\n  // Buscamos el ID en el nodo de inicio del flujo\n  idMaestro = $('When Executed by Another Workflow').first().json.id_maestro_rel;\n} catch (e) {}\n\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: {\n    id_maestro_rel: idMaestro,\n    tipo_evidencia: \"HTML_CONVERT\"\n  },\n  binary: {\n    data: { \n      data: buffer.toString('base64'),\n      mimeType: 'application/vnd.google-apps.document', \n      fileName: `${idMaestro}_transacciones.html`\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2576,
          144
        ],
        "id": "757eac03-fd51-4160-99d8-9704c72b112d",
        "name": "tabla_html_transaccion",
        "disabled": true
      },
      {
        "parameters": {
          "name": "=={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}_transacciones_evidencia",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Get a row1').item.json.id_carpeta }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -2000,
          240
        ],
        "id": "1b6e6788-5a35-475a-afcd-8e419d62a2cc",
        "name": "Upload to Google Drive as Doc1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "PlY76obRIwsQh9yA",
            "name": "Drive_arh"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "expedientes_core",
          "filters": {
            "conditions": [
              {
                "keyName": "id_maestro",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_maestro_rel }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2576,
          336
        ],
        "id": "e569ccc7-9a7f-4e23-972c-415e7131d7ed",
        "name": "Get a row1",
        "credentials": {
          "supabaseApi": {
            "id": "aHyskcDEf3XWa7w3",
            "name": "Supabase account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2288,
          240
        ],
        "id": "011b1e7e-a3aa-47ed-bc0e-bde919ea41fa",
        "name": "Merge1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": "={{ $json.id }}",
          "options": {
            "binaryPropertyName": "binary",
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            },
            "fileName": "=={{ $('Upload to Google Drive as Doc1').item.json.name }}.pdf"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1712,
          240
        ],
        "id": "deef38d6-2526-4c88-a384-b7b14e8db60c",
        "name": "Download as PDF2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "PlY76obRIwsQh9yA",
            "name": "Drive_arh"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7JbkWMjRPidvkncF",
            "mode": "list",
            "cachedResultUrl": "/workflow/7JbkWMjRPidvkncF",
            "cachedResultName": "Crea demanda copy"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1648,
          -352
        ],
        "id": "24952f2a-64f7-4b43-ac67-606c9fa5c459",
        "name": "Call 'Crea demanda copy'"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze document": {
        "main": [
          [
            {
              "node": "orden_documento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze audio": {
        "main": [
          [
            {
              "node": "ordena_audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabla_html_transaccion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selecionador_titulo_CBR_certificado": {
        "main": [
          [
            {
              "node": "Update a row2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Information Extractor Certificado",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update a row5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a row3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Information Extractor Certificado1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a row4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor Certificado": {
        "main": [
          [
            {
              "node": "rescata_id1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor Certificado",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor Certificado1": {
        "main": [
          [
            {
              "node": "rescata_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor Certificado1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Analyze document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Analyze audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "rescata_id": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            },
            {
              "node": "agente_competencia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "rescata_id1": {
        "main": [
          [
            {
              "node": "Update a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "orden_documento": {
        "main": [
          [
            {
              "node": "Selecionador_titulo_CBR_certificado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "agente_competencia",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "agente_competencia": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Update a row6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Update a row7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row5": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call 'Crea demanda copy'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Update a row7": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Copiar Plantilla2": {
        "main": [
          [
            {
              "node": "Reemplazar Variables2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ordena_audio": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Copiar Plantilla2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reemplazar Variables2": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Update a row9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row9": {
        "main": [
          []
        ]
      },
      "tabla_html_transaccion": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive as Doc1": {
        "main": [
          [
            {
              "node": "Download as PDF2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Upload to Google Drive as Doc1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Ignacio Ramirez molina",
    "name": "Version d62c21ab",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-27T18:11:08.001Z",
      "createdAt": "2026-02-27T18:11:08.001Z",
      "id": "sndFGzQdaIodK97N",
      "name": "arh"
    }
  ]
}